@model IEnumerable<WeddingPlanner.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card">
            <h4 class="card-title text-center">@Html.DisplayFor(modelItem => item.CategoryName)</h4>
            <h6 class="text-center">@Html.DisplayNameFor(model => model.Total): @String.Format("{0:c}", item.Total)</h6>
            <h6 class="text-center">@Html.DisplayNameFor(model => model.Balance): @String.Format("{0:c}", item.Balance)</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Notes
                        </th>
                        <th>
                            Cost
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (LineItem li in item.LineItems)
                    {
                        <tr>
                            <td>
                                <a asp-controller="LineItems" asp-action="Edit" asp-route-id="@li.LineItemId">@Html.DisplayFor(modelItem => li.Date)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => li.Notes)
                            </td>
                            <td>
                                @String.Format("{0:c}", li.Cost)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="text-center">
                <a asp-controller="LineItems" asp-action="Create" asp-route-id="@item.CategoryId"  class="btn btn-success">Add Line</a>
                <a asp-controller="Categories" asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-info">Edit</a>
                <a asp-controller="Categories" asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>
